.dialog {
    direction: rtl !important;
    height: 100vh !important;
}

.dialogContent {
    height: 100%;
}

.title {
    text-align: center;
    font-size: larger !important;
    font-weight: bold;
    height: 50px;
    padding: 0 !important;
    padding-top: 10px !important;
}

.fillInfoForm {
    height: 70%;
    min-height: 70%;
}

.fillInfoDetails {
    display: grid;
    grid-template-rows: repeat(30, 3%);
    grid-template-columns: repeat(10, 1fr);
    height: 100%;
    padding-right: 10px;
}

.fillInfoEmail {
    grid-row-start: 1;
    grid-column: 1/span 9;
    font-size: 110% !important;
    margin-right: 5% !important;
}

.fillInfoPassword {
    grid-row-start: 6;
    grid-column: 1/span 9;
    font-size: 110% !important;
    margin-right: 5% !important;
}

.fillInfoName {
    grid-row-start: 12;
    grid-column: 1/span 9;
    font-size: 110% !important;
    margin-right: 5% !important;
}

.fillInfoPhone {
    grid-row-start: 18;
    grid-column: 1/span 9;
    font-size: 110% !important;
    margin-right: 5% !important;
}

.fillInfoNameIcon {
    color: rgb(194, 193, 193) !important;
}

.fillInfoPhoneIcon {
    color: rgb(194, 193, 193) !important;
    transform: rotate(270deg);
}

.fillInfoEmailIcon {
    color: rgb(194, 193, 193) !important;
}

.fillInfoPasswordIcon {
    color: rgb(194, 193, 193) !important;
}

.fillInfoButtons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    height: 10%;
    min-height: 11%;
    grid-template-rows: repeat(5, 20%);
    grid-template-columns: repeat(10, 1fr);
}

.fillInfoJoin {
    grid-row: 2/ span 4;
    grid-column: 2/span 4;
    border-radius: 25px 25px 0px 0px !important;
    background-color: #0D47A1 !important;
    color: white !important;
    font-size: 110% !important;
    width: 150%;
    height: 100%;
}

.fillInfoCancel {
    grid-row: 2/ span 4;
    grid-column: 8/span 2;
    color: grey !important;
    font-size: 100% !important;
    padding-right: 50% !important;
}